<!DOCTYPE html>
<html>
<%include ./partials/head.ejs %>
<body class="col-xs-12 container-fluid">
	<main class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<img class="img-resposive center" src="img/logo.png" alt="PNG Ombudsman Commission Logo">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 text-center">
						<p class="h1">Ombudsman Commission Corruption Reporter</p>
					</div>
				</div>
			</div>
		</div><hr>
	</main>
	<section class="content container-fluid bg-lite">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<p class="lead">This is an Android Application Simulation. Click on the button below to get started</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<a href="/report"><button type="button" class="btn btn-primary btn-block fixed-bottom"><i class="chevron-right"></i> Get Started</button></a>
				</div>
			</div>
		</div>
	</section>
	<%include ./partials/scripts.ejs %>
</body>
</html>